body {
    
    background-image: linear-gradient(#ccc 1px, rgb(255, 255, 195) 1px);
    background-size: 20px 36px;

}

main,
ul,
li,
input[type=text] {
    width: 50vw;
    min-width: 500px;
    display: block;
    margin: 36px auto 0 auto;
}

input[type=text] {
    margin-top: 0;
}

ul {
    padding: 0;
}

li {
    margin-top: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0px !important;
}